<h1>Dish Show Page</h1>

<div id="dish-details">
  <p>Name: <%= @dish.name %>
  <p>Description: <%= @dish.description %>
  <p>Ingredients: </p>
  <% @dish.ingredients.each do |ingredient| %>
    <div id="ingredients-<%= ingredient.id %>">
    <ul>
      <li><%= ingredient.name %> Calories: <%= ingredient.calories %></li>
    </ul>
    <% end %>
   <p>Total Calories: <%= @dish.total_calories %></p>
   <p>Chef: <%= @dish.chef_name %></p>
  </div>
</div>

<div id="add-ingredient">
  <h2>Add an Ingredient to this Dish:</h2>
  <%= form_with model: @dish, local: true do |form| %>
    <%= form.label :id  %>
    <%= form.text_field :id  %>
    <%= form.submit %>
  <% end %>
</div>